<section id="dtrade">
    <div class="container">
        <div class="row">
            <div class="col-md-5 cover-image align-self-center">
                <img src="/images/mockup.png" class="img-fluid" alt="product">
            </div>
            <div class="col-md-7 align-self-center cover-body">
                <h1 style="color: #fff; font-weight: 700; font-size: 50px;">DTrade</h1>
                <p style="color: rgb(209, 209, 209);">
                    Cho phép các nhà giao dịch phân tích và dự đoán xu hướng tăng hoặc giảm của cặp tiền điện tử theo
                    biến động của thị trường tài chính và có được lợi nhuận nếu lựa chọn của bạn là đúng.
                </p>
                <h5 style="color: #fff;">Nhanh – An Toàn – Tiềm Năng Lợi Nhuận Cao</h5>
                <a style="margin: 20px 0; border-radius: 20px; padding: 3px 20px 5px 20px; font-weight: bold;" href="https://www.drakenx.io/registration?refCode=PR77K5HPAA00" class="btn btn-success">Đăng ký ngay</a>
            </div>
        </div>
    </div>
</section>