<div id="faq">
    <img class="topleftdot" src="/images/dot1.svg" alt="Top Left Dot">
    <img class="bottomrightdot" src="/images/dot1.svg" alt="Top Left Dot">
    <div>
        <div style="margin: 40px">
            <h2 class="whatis-headtext">FAQ</h2>
        </div>
        <div class="faq-details">
            <div class="question-container">
                <div class="question" id="qanswer1" onclick="clickQuestion('answer1')">
                    <div class="question-text"><span>QUỸ NAKAMOTO LÀ GÌ?</span></div>
                    <svg height="25px" width="25px" viewBox="0 0 448 448" xmlns="http://www.w3.org/2000/svg"><path d="m408 184h-136c-4.417969 0-8-3.582031-8-8v-136c0-22.089844-17.910156-40-40-40s-40 17.910156-40 40v136c0 4.417969-3.582031 8-8 8h-136c-22.089844 0-40 17.910156-40 40s17.910156 40 40 40h136c4.417969 0 8 3.582031 8 8v136c0 22.089844 17.910156 40 40 40s40-17.910156 40-40v-136c0-4.417969 3.582031-8 8-8h136c22.089844 0 40-17.910156 40-40s-17.910156-40-40-40zm0 0"/></svg>
                </div>
                <div class="answer" id="answer1" >
                    <p>
                        Coming soon . . .
                    </p>
                </div>
            </div>
            <div style="width: 100%; height: 1px; background-color: rgb(168, 168, 168);"></div>
            <div class="question-container">
                <div class="question" id="qanswer2" onclick="clickQuestion('answer2')">
                    <div class="question-text"><span>DEFI LÀ GÌ?</span></div>
                    <svg height="25px" width="25px" viewBox="0 0 448 448" xmlns="http://www.w3.org/2000/svg"><path d="m408 184h-136c-4.417969 0-8-3.582031-8-8v-136c0-22.089844-17.910156-40-40-40s-40 17.910156-40 40v136c0 4.417969-3.582031 8-8 8h-136c-22.089844 0-40 17.910156-40 40s17.910156 40 40 40h136c4.417969 0 8 3.582031 8 8v136c0 22.089844 17.910156 40 40 40s40-17.910156 40-40v-136c0-4.417969 3.582031-8 8-8h136c22.089844 0 40-17.910156 40-40s-17.910156-40-40-40zm0 0"/></svg>
                </div>
                <div class="answer" id="answer2" >
                    <p>DeFi là viết tắt của Decentralized Finance hay tài chính phi tập trung.<br/><br/>
                        DeFi là hệ thống tài chính phi tập trung, vận hành trên một mạng lưới phân quyền, loại bỏ các định chế trung gian và giúp nhiều sản phẩm tài chính được cung cấp trên hệ thống được hiệu quả cũng như tiết kiệm hơn.
                    </p>
                </div>
            </div>
            <div style="width: 100%; height: 1px; background-color: rgb(168, 168, 168);"></div>
            <div class="question-container">
                <div class="question" id="qanswer3" onclick="clickQuestion('answer3')">
                    <div class="question-text"><span>DTRADE LÀ GÌ?</span></div>
                    <svg height="25px" width="25px" viewBox="0 0 448 448" xmlns="http://www.w3.org/2000/svg"><path d="m408 184h-136c-4.417969 0-8-3.582031-8-8v-136c0-22.089844-17.910156-40-40-40s-40 17.910156-40 40v136c0 4.417969-3.582031 8-8 8h-136c-22.089844 0-40 17.910156-40 40s17.910156 40 40 40h136c4.417969 0 8 3.582031 8 8v136c0 22.089844 17.910156 40 40 40s40-17.910156 40-40v-136c0-4.417969 3.582031-8 8-8h136c22.089844 0 40-17.910156 40-40s-17.910156-40-40-40zm0 0"/></svg>
                </div>
                <div class="answer" id="answer3" >
                    <p>Là một Sàn Giao Dịch Phi Tập Trung dưới hình thức Quyền Chọn Nhị Phân (BO). <br/>
                        Hiểu một cách đơn giản, DTrade = BO + Blockchain.
                    </p>
                </div>
            </div>
            <div style="width: 100%; height: 1px; background-color: rgb(168, 168, 168);"></div>
            <div class="question-container">
                <div class="question" id="qanswer4" onclick="clickQuestion('answer4')">
                    <div class="question-text"><span>MAINNET LÀ GÌ?</span></div>
                    <svg height="25px" width="25px" viewBox="0 0 448 448" xmlns="http://www.w3.org/2000/svg"><path d="m408 184h-136c-4.417969 0-8-3.582031-8-8v-136c0-22.089844-17.910156-40-40-40s-40 17.910156-40 40v136c0 4.417969-3.582031 8-8 8h-136c-22.089844 0-40 17.910156-40 40s17.910156 40 40 40h136c4.417969 0 8 3.582031 8 8v136c0 22.089844 17.910156 40 40 40s40-17.910156 40-40v-136c0-4.417969 3.582031-8 8-8h136c22.089844 0 40-17.910156 40-40s-17.910156-40-40-40zm0 0"/></svg>
                </div>
                <div class="answer" id="answer4" >
                    <p>Mainnet (mạng chính thức) là một phiên bản Blockchain chính thức sau khi các nhà phát triển thử nghiệm testnet thành công. 
                        Khi một đồng coin phát hành Mainnet tức là đồng coin này đã có Blockchain riêng không phụ thuộc vào Blockchain của một coin 
                        nào khác (Bitcoin, Ethereum,..), có nền tảng ví riêng, có thể giao dịch gửi/nhận token, và bất cứ ai cũng có thể phát hành 
                        một token mới dựa trên Blockchain riêng này.</p>
                </div>
            </div>
            <div style="width: 100%; height: 1px; background-color: rgb(168, 168, 168);"></div>
            <div class="question-container">
                <div class="question" id="qanswer5" onclick="clickQuestion('answer5')">
                    <div class="question-text"><span>STAKING LÀ GÌ?</span></div>
                    <svg height="25px" width="25px" viewBox="0 0 448 448" xmlns="http://www.w3.org/2000/svg"><path d="m408 184h-136c-4.417969 0-8-3.582031-8-8v-136c0-22.089844-17.910156-40-40-40s-40 17.910156-40 40v136c0 4.417969-3.582031 8-8 8h-136c-22.089844 0-40 17.910156-40 40s17.910156 40 40 40h136c4.417969 0 8 3.582031 8 8v136c0 22.089844 17.910156 40 40 40s40-17.910156 40-40v-136c0-4.417969 3.582031-8 8-8h136c22.089844 0 40-17.910156 40-40s-17.910156-40-40-40zm0 0"/></svg>
                </div>
                <div class="answer" id="answer5" >
                    <p>Staking là quá trình giữ tiền trong ví tiền điện tử để hỗ trợ các hoạt động của mạng blockchain. 
                        Về cơ bản, nó bao gồm việc giữ tiền điện tử để nhận tiền thưởng.
                        Cơ chế này được sử dụng trong nhiều blockchain dựa trên PoS hoặc một trong nhiều biến thể của cơ chế này.</p>
                </div>
            </div>
            <div style="width: 100%; height: 1px; background-color: rgb(168, 168, 168);"></div>
            <div class="question-container">
                <div class="question" id="qanswer6" onclick="clickQuestion('answer6')">
                    <div class="question-text"><span>SÀN GIAO DỊCH PHI TẬP TRUNG (DEX) LÀ GÌ?</span></div>
                    <svg height="25px" width="25px" viewBox="0 0 448 448" xmlns="http://www.w3.org/2000/svg"><path d="m408 184h-136c-4.417969 0-8-3.582031-8-8v-136c0-22.089844-17.910156-40-40-40s-40 17.910156-40 40v136c0 4.417969-3.582031 8-8 8h-136c-22.089844 0-40 17.910156-40 40s17.910156 40 40 40h136c4.417969 0 8 3.582031 8 8v136c0 22.089844 17.910156 40 40 40s40-17.910156 40-40v-136c0-4.417969 3.582031-8 8-8h136c22.089844 0 40-17.910156 40-40s-17.910156-40-40-40zm0 0"/></svg>
                </div>
                <div class="answer" id="answer6" >
                    <p>Sàn giao dịch phi tập trung (DEX – Decentralized Exchange) là các sàn giao dịch không phụ thuộc vào bên trung gian thứ ba để giữ nguồn tiền của bạn, 
                        tất cả các giao dịch của người dùng đều được diễn ra một cách tự động và trực tiếp giữa người dùng với nhau (mạng ngang hàng)</p>
                </div>
            </div>
            <div style="width: 100%; height: 1px; background-color: rgb(168, 168, 168);"></div>
            <div class="question-container">
                <div class="question" id="qanswer7" onclick="clickQuestion('answer7')">
                    <div class="question-text"><span>DAPPS LÀ GÌ?</span></div>
                    <svg height="25px" width="25px" viewBox="0 0 448 448" xmlns="http://www.w3.org/2000/svg"><path d="m408 184h-136c-4.417969 0-8-3.582031-8-8v-136c0-22.089844-17.910156-40-40-40s-40 17.910156-40 40v136c0 4.417969-3.582031 8-8 8h-136c-22.089844 0-40 17.910156-40 40s17.910156 40 40 40h136c4.417969 0 8 3.582031 8 8v136c0 22.089844 17.910156 40 40 40s40-17.910156 40-40v-136c0-4.417969 3.582031-8 8-8h136c22.089844 0 40-17.910156 40-40s-17.910156-40-40-40zm0 0"/></svg>
                </div>
                <div class="answer" id="answer7" >
                    <p>Dapps là viết tắt của “Decentralized application”.<br/><br/>
                        Một ứng dụng phi tập trung là một ứng dụng máy tính chạy trên một hệ thống máy tính phân tán. 
                        DApps đã được phổ biến bởi các công nghệ sổ cái phân tán như Ethereum Blockchain, nơi DApps thường được gọi là hợp đồng thông minh.</p>
                </div>
            </div>
            <div style="width: 100%; height: 1px; background-color: rgb(168, 168, 168);"></div>
            <div class="question-container">
                <div class="question" id="qanswer8" onclick="clickQuestion('answer8')">
                    <div class="question-text"><span>DRAKENX LÀ GÌ?</span></div>
                    <svg height="25px" width="25px" viewBox="0 0 448 448" xmlns="http://www.w3.org/2000/svg"><path d="m408 184h-136c-4.417969 0-8-3.582031-8-8v-136c0-22.089844-17.910156-40-40-40s-40 17.910156-40 40v136c0 4.417969-3.582031 8-8 8h-136c-22.089844 0-40 17.910156-40 40s17.910156 40 40 40h136c4.417969 0 8 3.582031 8 8v136c0 22.089844 17.910156 40 40 40s40-17.910156 40-40v-136c0-4.417969 3.582031-8 8-8h136c22.089844 0 40-17.910156 40-40s-17.910156-40-40-40zm0 0"/></svg>
                </div>
                <div class="answer" id="answer8" >
                    <p>DrakenX là nền tảng giải trí tối ưu trong Draken DeFi Universe. Khách hàng dùng token DRX để truy cập và khám phá tính năng của tất cả các game. 
                        Điều này tạo nên sự thu hút đặc biệt đối với người chơi, góp phần tạo nên cộng đồng DrakenX đông đảo.<br/><br/>
                        Xem thêm về DrakenX tại:<br/>
                        https://drkcoin.tech/drakenx-game/</p>
                </div>
            </div>
            <div style="width: 100%; height: 1px; background-color: rgb(168, 168, 168);"></div>
            <div class="question-container">
                <div class="question" id="qanswer9" onclick="clickQuestion('answer9')">
                    <div class="question-text"><span>NGOÀI NỀN TẢNG CÔNG NGHỆ TỐT, DRK CÒN GÌ MÀ THU HÚT NHÀ ĐẦU TƯ ĐẾN VẬY?</span></div>
                    <svg height="25px" width="25px" viewBox="0 0 448 448" xmlns="http://www.w3.org/2000/svg"><path d="m408 184h-136c-4.417969 0-8-3.582031-8-8v-136c0-22.089844-17.910156-40-40-40s-40 17.910156-40 40v136c0 4.417969-3.582031 8-8 8h-136c-22.089844 0-40 17.910156-40 40s17.910156 40 40 40h136c4.417969 0 8 3.582031 8 8v136c0 22.089844 17.910156 40 40 40s40-17.910156 40-40v-136c0-4.417969 3.582031-8 8-8h136c22.089844 0 40-17.910156 40-40s-17.910156-40-40-40zm0 0"/></svg>
                </div>
                <div class="answer" id="answer9" >
                    <p>Ngoài nền tảng công nghệ tốt, DRK còn hợp tác với nhiều crypto và sàn giao dịch lớn khác như: Cyrcle, Abra, Brave… Xem đầy đủ <a href="https://draken.group/our-portfolio">tại đây</a>.<br/><br/>
                        Chưa hết, crypto sẽ tăng giá mạnh mẽ khi có cộng đồng lớn. DRK đã làm được điều đó khi thu hút rất nhiều influencer 
                        (người có sức ảnh hưởng) và nhà đầu tư lớn tại Việt Nam và Hàn Quốc, sẽ mở rộng quy mô thế giới khi đã có giá trị. 
                        Nhìn lại Ethereum (ETH) thời gian đầu họ cũng từng bước phát triển đồng coin của mình để có được như ngày hôm nay.<br/><br/>
                        Bạn có thể Google search “Kao Van” một người có tầm ảnh hưởng lớn trong thị trường tiền điện tử. Anh đã chia sẻ rất nhiều giá trị cho cộng đồng và mang lại nhiều kèo thắng lợi, điển hình là Bitcoin Vault (BTCV) tăng từ $3 – $130 trong thời gian chưa đến 1 năm).</p>
                </div>
            </div>
            <div style="width: 100%; height: 1px; background-color: rgb(168, 168, 168);"></div>
            <div class="question-container">
                <div class="question" id="qanswer10" onclick="clickQuestion('answer10')">
                    <div class="question-text"><span>MÌNH CHƯA BIẾT GÌ VỀ TIỀN ĐIỆN TỬ, LÀM THẾ NÀO ĐỂ MUA DRK COIN?</span></div>
                    <svg height="25px" width="25px" viewBox="0 0 448 448" xmlns="http://www.w3.org/2000/svg"><path d="m408 184h-136c-4.417969 0-8-3.582031-8-8v-136c0-22.089844-17.910156-40-40-40s-40 17.910156-40 40v136c0 4.417969-3.582031 8-8 8h-136c-22.089844 0-40 17.910156-40 40s17.910156 40 40 40h136c4.417969 0 8 3.582031 8 8v136c0 22.089844 17.910156 40 40 40s40-17.910156 40-40v-136c0-4.417969 3.582031-8 8-8h136c22.089844 0 40-17.910156 40-40s-17.910156-40-40-40zm0 0"/></svg>
                </div>
                <div class="answer" id="answer10" >
                    <p>Bạn đừng quá lo lắng, hãy chat với mình qua fanpage. Mình sẽ hướng dẫn bạn từ A -> Z về cách mua DRK coin.</p>
                </div>
            </div>
        </div>
    </div>
</div>