<section class="key-features">
    <img class="topleftdot" src="/images/dot1.svg" alt="Top Left Dot">
    <img class="bottomrightdot" src="/images/dot1.svg" alt="Top Left Dot">
    <h2 style="color: #fff" class="whatis-headtext">
        DRK DEFI - BLOCKCHAIN THẾ HỆ MỚI
    </h2>
    <div class="ant-row">
        <div class="ant-col ant-col-md-12 ant-col-lg-8" style="padding-left: 30px; padding-right: 30px">
            <div class="feature-item-wrapper">
                <div class="feature-item">
                    <div class="head">
                        <i class="fab fa-bitcoin icon"></i>
                        <span>BLOCKCHAIN 1.0</span>
                    </div>
                    <div class="content">
                        Cho phép lưu trữ, trao đổi tài sản số qua lại an toàn, bảo mật. Tiên phong là Bitcoin.
                    </div>
                </div>
            </div>
        </div>
        <div class="ant-col ant-col-md-12 ant-col-lg-8" style="padding-left: 30px; padding-right: 30px">
            <div class="feature-item-wrapper">
                <div class="feature-item">
                    <div class="head">
                        <i class="fab fa-ethereum icon"></i>
                        <span>BLOCKCHAIN 2.0</span>
                    </div>
                    <div class="content">
                        Khái niệm phân xử các giao dịch online ra đời,được gọi là “Smartcontract”. Tiên phong chính là ETH.
                    </div>
                </div>
            </div>
        </div>
        <div class="ant-col ant-col-md-12 ant-col-lg-8" style="padding-left: 30px; padding-right: 30px">
            <div class="feature-item-wrapper">
                <div class="feature-item">
                    <div class="head">
                        <i class="fas fa-cubes icon"></i>
                        <span>BLOCKCHAIN 3.0</span>
                    </div>
                    <div class="content">
                        Áp dụng điểm mạnh của 2 thế hệ đi trước và mang trên mình 1 mục đích cụ thể ứng dụng vào các sản phẩm số, một khái niệm quen thuộc “Dapps” ra đời.
                    </div>
                </div>
            </div>
        </div>
        <div class="ant-col ant-col-md-12 ant-col-lg-8" style="padding-left: 30px; padding-right: 30px">
            <div class="feature-item-wrapper">
                <div class="feature-item">
                    <div class="head">
                        <img class="icon" src="/images/drk-defi-chain-block-chain-4-0.png">
                        <span>BLOCKCHAIN 4.0</span>
                    </div>
                    <div class="content">
                        Tập hợp tất cả điểm mạnh của từng thế hệ, tinh chỉnh các thuật toán và bổ sung các công nghệ để đảm bảo 
                        rằng khả năng ứng dụng vào thực tiễn tuyệt đối, đặc biệt đối với lĩnh vực ứng dụng mạnh nhất của Blockchain: DeFi.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>