<section id="contact" class="key-features">
    <img class="topleftdot" src="/images/dot1.svg" alt="Top Left Dot">
    <h2 style="color: #fff" class="whatis-headtext">
        LIÊN HỆ
    </h2>
    <div style="text-align: center; color: #fff;">
        <h4>Số điện thoại: 0383.336.845 (Trí Dân)</h4>
        <div class="lienhecontainer">
            <a href="tel:+84383336845" class="gotoDraken">
                <span class="elementor-button-content-wrapper">
                    <span class="elementor-button-icon elementor-align-icon-left">
                        <i style="padding: 0px 10px;" class="fas fa-phone "></i>
                    <span style="font-weight: 700;" class="elementor-button-text">LIÊN HỆ NGAY</span>
                </span>
            </a>
        </div>
    </div>
</section>
<footer>
    <div class="footer-container">
        <ul class="footer-links">
            <li><a onclick="slideTo('drk')" href="/#drk">DRK</a></li>
            <li><a href="/sangiaodich">SÀN GIAO DỊCH</a></li>
            <li><a href="https://dtrade.live/">DTRADE</a></li>
            <li><a href="/huongdan">HƯỚNG DẪN</a></li>
            <li><a href="/#faq">FAQ</a></li>
            <li><a href="tel:+84383336845">LIÊN HỆ</a></li>
        </ul>
        <div class="company">
            <img src="/images/drk-nakamoto.png" alt="DRK"><span class="company-name">Trí Dân Coin</span> 
        </div>
        <span class="company-copyright">Copyright © 2021 Tri Dan Coin All Rights Reserved</span>
    </div>
</footer>