<section id="reasons" class="reasons-container">
    <div class="whatis-details">
        <h2 class="whatis-headtext">LÍ DO BẠN NÊN CHỌN DRK DEFI</h2>
    </div>
    <div class="elementor-widget-wrap">
        <section
            class="elementor-section elementor-inner-section elementor-element elementor-element-39c2da2 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default"
            data-id="39c2da2" data-element_type="section">
            <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-row">
                    <div class="aux-parallax-section elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-2a7f277"
                        data-id="2a7f277" data-element_type="column">
                        <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-b994d35 elementor-widget elementor-widget-image"
                                    data-id="b994d35" data-element_type="widget" data-widget_type="image.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-image">
                                            <img data-lazyloaded="1"
                                                src="/images/drk-defi-nen-tang-blockchain.jpg"
                                                width="800" height="533"
                                                data-src="/images/drk-defi-nen-tang-blockchain.jpg"
                                                class="attachment-large size-large litespeed-loaded" alt=""
                                                loading="lazy" data-was-processed="true"><noscript><img width="800"
                                                    height="533"
                                                    src="/images/drk-defi-nen-tang-blockchain.jpg"
                                                    class="attachment-large size-large" alt=""
                                                    loading="lazy" /></noscript>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="aux-parallax-section elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-5217ab8"
                        data-id="5217ab8" data-element_type="column">
                        <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-533c497 elementor-widget elementor-widget-heading"
                                    data-id="533c497" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-default">DRK CHAIN ĐÃ MAINNET
                                        </h2>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-ddc425b elementor-widget elementor-widget-text-editor"
                                    data-id="ddc425b" data-element_type="widget" data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-text-editor elementor-clearfix">
                                            <p>DRK thực hiện Mainnet thành công, khởi chạy DRK Chain trước khi giới
                                                thiệu ra cộng đồng và có đồng Coin riêng của mình – DRK. Có thể thấy,
                                                DRK đã rút đi phần “vẽ trên giấy” của hầu hết các ICO trên thị trường.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="aux-parallax-section elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-b0e68c7"
                        data-id="b0e68c7" data-element_type="column">
                        <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-1eff30e elementor-widget elementor-widget-image"
                                    data-id="1eff30e" data-element_type="widget" data-widget_type="image.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-image">
                                            <img data-lazyloaded="1"
                                                src="/images/drk-defi-phi-giao-dich-bang-khong.jpg"
                                                width="800" height="534"
                                                data-src="/images/drk-defi-phi-giao-dich-bang-khong.jpg"
                                                class="attachment-large size-large litespeed-loaded" alt=""
                                                loading="lazy" data-was-processed="true"><noscript><img width="800"
                                                    height="534"
                                                    src="/images/drk-defi-phi-giao-dich-bang-khong.jpg"
                                                    class="attachment-large size-large" alt=""
                                                    loading="lazy" /></noscript>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section
            class="elementor-section elementor-inner-section elementor-element elementor-element-4cf2ccc4 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default"
            data-id="4cf2ccc4" data-element_type="section">
            <div class="elementor-container elementor-column-gap-no">
                <div class="elementor-row">
                    <div class="aux-parallax-section elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-3de3cadd"
                        data-id="3de3cadd" data-element_type="column">
                        <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-27cedd elementor-widget elementor-widget-heading"
                                    data-id="27cedd" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-default">NỀN TẢNG BLOCKCHAIN
                                        </h2>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-338586a9 elementor-widget elementor-widget-text-editor"
                                    data-id="338586a9" data-element_type="widget"
                                    data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-text-editor elementor-clearfix">
                                            <p>DRK phát triển một Blockchain riêng biệt, cho phép các nhà phát triển ứng
                                                dụng có thể xây dựng trên nền tảng của DRK Chain.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="aux-parallax-section elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-7df9ae4a"
                        data-id="7df9ae4a" data-element_type="column">
                        <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-4267479c elementor-widget elementor-widget-image"
                                    data-id="4267479c" data-element_type="widget" data-widget_type="image.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-image">
                                            <img data-lazyloaded="1"
                                                src="/images/drk-defi-da-mainnet..jpg"
                                                width="800" height="533"
                                                data-src="/images/drk-defi-da-mainnet..jpg"
                                                class="attachment-large size-large litespeed-loaded" alt=""
                                                loading="lazy" data-was-processed="true"><noscript><img width="800"
                                                    height="533"
                                                    src="/images/drk-defi-da-mainnet..jpg"
                                                    class="attachment-large size-large" alt=""
                                                    loading="lazy" /></noscript>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="aux-parallax-section elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-75355cfa"
                        data-id="75355cfa" data-element_type="column">
                        <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-72e26cfe elementor-widget elementor-widget-heading"
                                    data-id="72e26cfe" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-default">PHÍ GIAO DỊCH GẦN NHƯ
                                            BẰNG 0</h2>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-358720a5 elementor-widget elementor-widget-text-editor"
                                    data-id="358720a5" data-element_type="widget"
                                    data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-text-editor elementor-clearfix">
                                            <p>Công nghệ smart-fee giúp chi phí giao dịch rẻ hơn, nhưng được cải tiến để
                                                chống lại các giao dịch spam nguy hại đến blockchain.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section
            class="elementor-section elementor-inner-section elementor-element elementor-element-8f56333 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default"
            data-id="8f56333" data-element_type="section">
            <div class="elementor-container elementor-column-gap-no">
                <div class="elementor-row">
                    <div class="aux-parallax-section elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-a2070ab"
                        data-id="a2070ab" data-element_type="column">
                        <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-5ff56ce elementor-widget elementor-widget-image"
                                    data-id="5ff56ce" data-element_type="widget" data-widget_type="image.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-image">
                                            <img data-lazyloaded="1"
                                                src="/images/drk-defi-staking.jpg"
                                                width="800" height="517"
                                                data-src="/images/drk-defi-staking.jpg"
                                                class="attachment-large size-large litespeed-loaded" alt=""
                                                loading="lazy">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="aux-parallax-section elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-58fc0b4"
                        data-id="58fc0b4" data-element_type="column">
                        <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-19d0ba3 elementor-widget elementor-widget-heading"
                                    data-id="19d0ba3" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-default">CÔNG NGHỆ CHUYỂN COIN
                                            ẨN DANH</h2>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-1e3732b elementor-widget elementor-widget-text-editor"
                                    data-id="1e3732b" data-element_type="widget" data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-text-editor elementor-clearfix">
                                            <p>Công nghệ DRK cho phép chuyển coin ẩn danh, không hiện số lượng, thời
                                                gian và thông tin người chuyển, người nhận. Nhưng không có nghĩa DRK là
                                                một blockchain ẩn danh vì công nghệ DRK cho phép người dùng tùy chọn ẩn
                                                danh, khi người dùng muốn, giao dịch sẽ dc ẩn danh.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="aux-parallax-section elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-c2940d8"
                        data-id="c2940d8" data-element_type="column">
                        <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-c718603 elementor-widget elementor-widget-image"
                                    data-id="c718603" data-element_type="widget" data-widget_type="image.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-image">
                                            <img data-lazyloaded="1"
                                                src="/images/drk-defi-smart-contract.jpg"
                                                width="800" height="533"
                                                data-src="/images/drk-defi-smart-contract.jpg"
                                                class="attachment-large size-large litespeed-loaded" alt=""
                                                loading="lazy" data-was-processed="true"><noscript><img width="800"
                                                    height="533"
                                                    src="/images/drk-defi-smart-contract.jpg"
                                                    class="attachment-large size-large" alt=""
                                                    loading="lazy" /></noscript>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section
            class="elementor-section elementor-inner-section elementor-element elementor-element-d8aadf0 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default"
            data-id="d8aadf0" data-element_type="section">
            <div class="elementor-container elementor-column-gap-no">
                <div class="elementor-row">
                    <div class="aux-parallax-section elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-12cc531"
                        data-id="12cc531" data-element_type="column">
                        <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-c819ec3 elementor-widget elementor-widget-heading"
                                    data-id="c819ec3" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-default">STAKING THÔNG MINH
                                        </h2>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-8e1413b elementor-widget elementor-widget-text-editor"
                                    data-id="8e1413b" data-element_type="widget" data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-text-editor elementor-clearfix">
                                            <p>Cơ chế đồng thuận Proof-of-honor (PoH) xếp hạng các nút thông qua “số
                                                lượng DRK nắm giữ” và “số lượng giao dịch nút đó xử lí”. Từ đó tạo ra
                                                lợi nhuận staking (đào coin) kích thích và công bằng cho những cổ đông
                                                và những nhà sản xuất Dapps. Cổ đông – những người nắm giữ số lượng lớn
                                                đồng coin và các nhà sản xuất Dapps là 2 đối tượng đã mang đến sự thành
                                                công của ETH.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="aux-parallax-section elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-bec011f"
                        data-id="bec011f" data-element_type="column">
                        <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-dfc60dd elementor-widget elementor-widget-image"
                                    data-id="dfc60dd" data-element_type="widget" data-widget_type="image.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-image">
                                            <img data-lazyloaded="1"
                                                src="/images/drk-defi-technology.jpg"
                                                width="800" height="533"
                                                data-src="/images/drk-defi-technology.jpg"
                                                class="attachment-large size-large litespeed-loaded" alt=""
                                                loading="lazy" data-was-processed="true"><noscript><img width="800"
                                                    height="533"
                                                    src="/images/drk-defi-technology.jpg"
                                                    class="attachment-large size-large" alt=""
                                                    loading="lazy" /></noscript>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="aux-parallax-section elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-dbd7917"
                        data-id="dbd7917" data-element_type="column">
                        <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-f43f63e elementor-widget elementor-widget-heading"
                                    data-id="f43f63e" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-default">SMART CONTRACT</h2>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-625f9e9 elementor-widget elementor-widget-text-editor"
                                    data-id="625f9e9" data-element_type="widget" data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-text-editor elementor-clearfix">
                                            <p>Công nghệ Smart Contract đã trở thành một chức năng không thể thiếu đối
                                                với xu hướng tự động hóa giao dịch trong các Blockchain phổ biến hiện
                                                nay như ETH, EOS, TRON, Stellar,…</p>
                                            <p>DRK cũng không ngoại lệ, DRK Smart Contract mang đến những lựa chọn giao
                                                dịch an toàn, tự dộng và tối ưu hóa cho ứng dụng DeFi.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section
            class="elementor-section elementor-inner-section elementor-element elementor-element-5cea1ff elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default"
            data-id="5cea1ff" data-element_type="section">
            <div class="elementor-container elementor-column-gap-no">
                <div class="elementor-row">
                    <div class="aux-parallax-section elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-183eb1d"
                        data-id="183eb1d" data-element_type="column">
                        <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-371d34e elementor-widget elementor-widget-image"
                                    data-id="371d34e" data-element_type="widget" data-widget_type="image.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-image">
                                            <img data-lazyloaded="1"
                                                src="/images/drk-defi-creat-token.jpg"
                                                width="800" height="533"
                                                data-src="/images/drk-defi-creat-token.jpg"
                                                class="attachment-large size-large litespeed-loaded" alt=""
                                                loading="lazy" data-was-processed="true"><noscript><img width="800"
                                                    height="533"
                                                    src="/images/drk-defi-creat-token.jpg"
                                                    class="attachment-large size-large" alt=""
                                                    loading="lazy" /></noscript>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="aux-parallax-section elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-f1d41fb"
                        data-id="f1d41fb" data-element_type="column">
                        <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-b321fee elementor-widget elementor-widget-heading"
                                    data-id="b321fee" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-default">DRK- HỆ SINH THÁI VÀ
                                            DEFI</h2>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-515c842 elementor-widget elementor-widget-text-editor"
                                    data-id="515c842" data-element_type="widget" data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-text-editor elementor-clearfix">
                                            <p>Sự phát triển của Blockchain từ giai đoạn hình thành tầm nhìn của Satoshi
                                                Nakamoto về một nền tảng lưu trữ và trau đổi tài sản bảo mật và không bị
                                                kiểm soát đã chuyển dần sang thời kì mới về những nền tảng có thể
                                                phục vụ cho nhiều lĩnh vực tài chính phong phú của thế giới. Chính vì
                                                vậy, mục tiêu tạo ra hệ sinh thái ứng dụng xoay quanh một Blockchain rất
                                                cần thiết để chứng minh khả năng thực thi của Blockchain đó.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="aux-parallax-section elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-fe1a103"
                        data-id="fe1a103" data-element_type="column">
                        <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-fee57ea elementor-widget elementor-widget-image"
                                    data-id="fee57ea" data-element_type="widget" data-widget_type="image.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-image">
                                            <img data-lazyloaded="1"
                                                src="/images/drk-defi-dex-exchange.jpg"
                                                width="800" height="532"
                                                data-src="/images/drk-defi-dex-exchange.jpg"
                                                class="attachment-large size-large litespeed-loaded" alt=""
                                                loading="lazy" data-was-processed="true"><noscript><img width="800"
                                                    height="532"
                                                    src="/images/drk-defi-dex-exchange.jpg"
                                                    class="attachment-large size-large" alt=""
                                                    loading="lazy" /></noscript>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section
            class="elementor-section elementor-inner-section elementor-element elementor-element-7fcaca8 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default"
            data-id="7fcaca8" data-element_type="section">
            <div class="elementor-container elementor-column-gap-no">
                <div class="elementor-row">
                    <div class="aux-parallax-section elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-fd27862"
                        data-id="fd27862" data-element_type="column">
                        <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-ed3afad elementor-widget elementor-widget-heading"
                                    data-id="ed3afad" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-default">KHẢ NĂNG TẠO TOKEN
                                        </h2>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-cde24fb elementor-widget elementor-widget-text-editor"
                                    data-id="cde24fb" data-element_type="widget" data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-text-editor elementor-clearfix">
                                            <p>Token hệ sinh thái là một yếu tố tạo nên sự thành công của ETH hiện nay,
                                                với hơn 98% crypto trên thị trường đều là token sử dụng trong các Dapps-
                                                ứng dụng phi tập trung. DRK Smart Contract cung cấp khả năng tạo token
                                                và cơ chế phần thưởng khi nút token có nhiều giao dịch.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="aux-parallax-section elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-0a852e5"
                        data-id="0a852e5" data-element_type="column">
                        <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-ccaa801 elementor-widget elementor-widget-image"
                                    data-id="ccaa801" data-element_type="widget" data-widget_type="image.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-image">
                                            <img data-lazyloaded="1"
                                                src="/images/drk-defi-ecosystem.jpg"
                                                width="800" height="533"
                                                data-src="/images/drk-defi-ecosystem.jpg"
                                                class="attachment-large size-large litespeed-loaded" alt=""
                                                loading="lazy" data-was-processed="true"><noscript><img width="800"
                                                    height="533"
                                                    src="/images/drk-defi-ecosystem.jpg"
                                                    class="attachment-large size-large" alt=""
                                                    loading="lazy" /></noscript>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="aux-parallax-section elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-1a3f0db"
                        data-id="1a3f0db" data-element_type="column">
                        <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-4f2bfd3 elementor-widget elementor-widget-heading"
                                    data-id="4f2bfd3" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-default">BLOCKCHAIN HIỆU SUẤT
                                            CAO</h2>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-57adfa0 elementor-widget elementor-widget-text-editor"
                                    data-id="57adfa0" data-element_type="widget" data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-text-editor elementor-clearfix">
                                            <p>Với thuật toán PoH mạnh mẽ, DRK Chain có khả năng đạt tới 5000 giao
                                                dịch/giây, thời gian đóng block là 2s (Đối với Bitcoin là 10 phút và
                                                Ethereum là 10-19 giây). Giao dịch DRK trên thực tế diễn ra từ 1-3 giây
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section
            class="elementor-section elementor-inner-section elementor-element elementor-element-2034f4c elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default"
            data-id="2034f4c" data-element_type="section">
            <div class="elementor-container elementor-column-gap-no">
                <div class="elementor-row">
                    <div class="aux-parallax-section elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-ee6f01c"
                        data-id="ee6f01c" data-element_type="column">
                        <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-388909e elementor-widget elementor-widget-image"
                                    data-id="388909e" data-element_type="widget" data-widget_type="image.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-image">
                                            <img data-lazyloaded="1"
                                                src="/images/drk-defi-sercurity.jpg"
                                                width="800" height="558"
                                                data-src="/images/drk-defi-sercurity.jpg"
                                                class="attachment-large size-large litespeed-loaded" alt=""
                                                loading="lazy" data-was-processed="true"><noscript><img width="800"
                                                    height="558"
                                                    src="/images/drk-defi-sercurity.jpg"
                                                    class="attachment-large size-large" alt=""
                                                    loading="lazy" /></noscript>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="aux-parallax-section elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-47abf32"
                        data-id="47abf32" data-element_type="column">
                        <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-de73234 elementor-widget elementor-widget-heading"
                                    data-id="de73234" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-default">DRK DEFI PLATFORM
                                        </h2>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-b0ab605 elementor-widget elementor-widget-text-editor"
                                    data-id="b0ab605" data-element_type="widget" data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-text-editor elementor-clearfix">
                                            <p>Mục tiêu của DRK là hướng tới các sản phẩm tài chính phi tập trung trong
                                                tương lai. Giải pháp đặt ra là một Blockchain DRK nền tảng và bộ công cụ
                                                xây dựng các sản phẩm DeFi trên chính DRK Chain. Tạo ra một hệ sinh
                                                thái DeFi hoàn chỉnh: Cho vay, gửi tiết kiệm, ứng dụng thanh toán, hệ
                                                thống kế toán tự động,…</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="aux-parallax-section elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-3b48d6a"
                        data-id="3b48d6a" data-element_type="column">
                        <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-b6ba367 elementor-widget elementor-widget-image"
                                    data-id="b6ba367" data-element_type="widget" data-widget_type="image.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-image">
                                            <img data-lazyloaded="1"
                                                src="/images/drk-defi-games.jpg"
                                                width="800" height="532"
                                                data-src="/images/drk-defi-games.jpg"
                                                class="attachment-large size-large litespeed-loaded" alt=""
                                                loading="lazy" data-was-processed="true"><noscript><img width="800"
                                                    height="532"
                                                    src="/images/drk-defi-games.jpg"
                                                    class="attachment-large size-large" alt=""
                                                    loading="lazy" /></noscript>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section
            class="elementor-section elementor-inner-section elementor-element elementor-element-182b430 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default"
            data-id="182b430" data-element_type="section">
            <div class="elementor-container elementor-column-gap-no">
                <div class="elementor-row">
                    <div class="aux-parallax-section elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-dacd9dc"
                        data-id="dacd9dc" data-element_type="column">
                        <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-7203496 elementor-widget elementor-widget-heading"
                                    data-id="7203496" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-default">SÀN GIAO DỊCH PHI TẬP
                                            TRUNG DRK</h2>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-ebf5468 elementor-widget elementor-widget-text-editor"
                                    data-id="ebf5468" data-element_type="widget" data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-text-editor elementor-clearfix">
                                            <p>Ngoài thừa hưởng các điểm mạnh và xu thế của DEX, DRK DEX còn là một hệ
                                                thống Cross Chain khi kết hợp cả DRK Chain và Blockchain Ethereum. Giờ
                                                đây, giao dịch và thanh khoản DRK đã trở nên an toàn, minh bạch và nhanh
                                                chóng.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="aux-parallax-section elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-31b13e6"
                        data-id="31b13e6" data-element_type="column">
                        <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-edd039c elementor-widget elementor-widget-image"
                                    data-id="edd039c" data-element_type="widget" data-widget_type="image.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-image">
                                            <img data-lazyloaded="1"
                                                src="/images/drk-defi-platform..jpg"
                                                width="800" height="590"
                                                data-src="/images/drk-defi-platform..jpg"
                                                class="attachment-large size-large litespeed-loaded" alt=""
                                                loading="lazy" data-was-processed="true"><noscript><img width="800"
                                                    height="590"
                                                    src="/images/drk-defi-platform..jpg"
                                                    class="attachment-large size-large" alt=""
                                                    loading="lazy" /></noscript>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="aux-parallax-section elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-9412a49"
                        data-id="9412a49" data-element_type="column">
                        <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-cdaca36 elementor-widget elementor-widget-heading"
                                    data-id="cdaca36" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-default">DAPPS/ DRK GAMES</h2>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-89e075a elementor-widget elementor-widget-text-editor"
                                    data-id="89e075a" data-element_type="widget" data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-text-editor elementor-clearfix">
                                            <p>Như hầu hết các Blockchain nền tảng khác, DRK Chain là một blockchain mã
                                                nguồn mở, khuyến khích và hỗ trợ hầu hết những người có chuyên môn và có
                                                ý tưởng xây dựng Dapps có thể tham gia đóng góp. DRK Games là một điểm
                                                nhấn Dapps tiếp nối thành công của hàng loạt Game Dapps trên blockchain
                                                Tronx.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>