<section id="sangiaodich" class="key-features">
    <img class="topleftdot" src="/images/dot1.svg" alt="Top Left Dot">
    <h2 style="color: #fff" class="whatis-headtext">
        SÀN GIAO DỊCH
    </h2>
    <div class="sangiaodich-row">
        <div class="sangiaodich-column-left">
            <div class="elementor-element-populated">
                <div>
                    <div>
                        <h5>DRAKEN EXCHANGE</h5>
                    </div>
                    <div>
                        <h2 class="elementor-heading-title elementor-size-default">DRK DEX - Sàn giao dịch phi tập
                            trung trên DRK Chain!</h2>
                    </div>
                    <div>
                        <div>
                            <div>
                                <a href="https://draken.exchange/" class="gotoDraken">
                                    <span class="elementor-button-content-wrapper">
                                        <span class="elementor-button-icon elementor-align-icon-left">
                                            <i aria-hidden="true" class="fas fa-meteor"></i> </span>
                                        <span class="elementor-button-text">ĐẾN SÀN GIAO DỊCH</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div>
                    <div>
                        <div>
                            <div>
                                <div><iframe allowfullscreen=""
                                        title="youtube Video Player"
                                        src="https://www.youtube.com/embed/ATgyk24dlw4?feature=oembed&amp;start&amp;end&amp;wmode=opaque&amp;loop=0&amp;controls=1&amp;mute=0&amp;rel=0&amp;modestbranding=0"
                                        id="fitvid392994" class="sangiaodich-video"></iframe></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>